.search-box {
  @apply text-paragraph  right-0;

  input {
    @apply static rounded-md;
    padding: 0.5rem 0 0.5rem 2rem;
    background-color: transparent;
    margin: 0 5px 0 0;
    &:focus {
      @apply border-accent;
    }
  }
  .suggestions {
  }
  .suggestion {
    a {
      @apply text-paragraph;
      .page-title {
        @apply text-accent;
      }
      .header {
      }
    }
  }
}
