@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@400;700&display=swap");

@tailwind base;

@import "./prism";
@import "./searchBox";

.transition {
  transition: all 0.5s ease;
}

h1 {
  @apply text-3xl text-heading my-4;
  font-family: "Arvo", serif;
}

h2 {
  @apply text-2xl  text-heading my-4;
  font-family: "Arvo", serif;
}

h3 {
  @apply text-xl  text-heading my-2;
  font-family: "Arvo", serif;
}

p {
  @apply my-4;
}

@screen md {
  h1 {
    @apply text-5xl  text-heading my-4;
    font-family: "Arvo", serif;
  }

  h2 {
    @apply text-3xl  text-heading my-4;
    font-family: "Arvo", serif;
  }

  h3 {
    @apply text-xl  text-heading my-2;
    font-family: "Arvo", serif;
  }
}

body {
  @apply text-paragraph;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}

a {
  @apply text-accent;
}
.section {
  @apply bg-section;
  .card {
    @apply bg-card;
  }
}
.sectionAlt {
  @apply bg-sectionAlt;
  .card {
    @apply bg-cardAlt;
  }
}

.card {
  @apply p-4 rounded-md mb-4;
  h2,
  h3 {
    @apply my-0 mb-2;
  }
}
button {
  @apply bg-accent text-heading;
}
.btn {
  @apply rounded-sm bg-accent text-heading py-1 px-2;
}
.pill {
  @apply bg-accent font-bold rounded-sm text-heading text-base py-0 px-2 mr-2 mb-2;
}

p > code {
  background: #1e1e1e;
  color: #d4d4d4;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  @apply rounded-sm px-1 py-1;
}
.post-entry > * {
  @apply my-6;
}
.post-entry > p:first-child {
  padding-left: 0.8em;
  border-left: 4px solid rgb(239, 187, 53);
}
.post-entry {
  h2,
  h3 {
    display: flex;
    .header-anchor {
      margin: 0 5px 0 0;
    }
  }

  ul {
    @apply list-inside;
    li {
      @apply list-disc;
    }
  }
}
// .post-entry h2 .header-anchor,
// .post-entry h3 .header-anchor {
//   margin: 0 5px 0 0;
// }
.post-entry h2::after,
.post-entry h3::after {
  content: " ";
  height: 3px;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: linear-gradient(to right, #7f5af0 0%, #d53a9d 100%);

  margin: 0.75em 2px 0px 5px;
  border-radius: 2px;
}
.post-entry h3 .header-anchor {
  @apply text-alternative;
}
.post-entry h3::after {
  background: linear-gradient(
    to right,
    rgb(239, 187, 53),
    rgba(3, 218, 198, 0.18)
  );
}
#post-toc {
  ul {
    @apply list-inside list-decimal text-alternative;
    li {
      @apply text-base;
      &::after {
        width: 2.5rem;
        height: 2px;
        content: " ";
        display: block;
        @apply bg-accent mx-auto my-4;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

.social-share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@tailwind components;
@tailwind utilities;
