@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@400;700&display=swap");

@tailwind base;

h1 {
  @apply text-5xl  text-heading my-4;
  font-family: "Arvo", serif;
}

h2 {
  @apply text-3xl  text-heading my-4;
  font-family: "Arvo", serif;
}

h3 {
  @apply text-xl  text-heading my-2;
  font-family: "Arvo", serif;
}
p {
  @apply my-4;
}

body {
  @apply text-paragraph;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}

a {
  @apply text-accent;
}
.section {
  @apply bg-section;
  .card {
    @apply bg-card;
  }
}
.sectionAlt {
  @apply bg-sectionAlt;
  .card {
    @apply bg-cardAlt;
  }
}

.card {
  @apply p-4 rounded-md;
  h2,
  h3 {
    @apply my-0 mb-2;
  }
}
button {
  @apply bg-accent text-heading;
}
.btn {
  @apply rounded-sm bg-accent text-heading py-1 px-2;
}
.pill {
  @apply bg-accent font-bold rounded-sm text-heading py-1 px-2 mr-2 mb-2;
}

@tailwind components;
@tailwind utilities;
